<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Laboration 1</title>
  <link rel="stylesheet" href="/dist/style.css">
</head>
<body>
  <header>
    <div class="header-content">
      <nav>
        <ul class="nav-list">
          <li><a href="/" data-page="index" class="active-page">Startsida/Dina kurser</a></li>
          <li><a href="/form" data-page="form">Lägg till kurs</a></li>
          <li><a href="/about" data-page="about">Om webbplatsen</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="main-content index-main">
      <h1>Startsida</h1>
      <section class="course-cards">
        <h2>Dina Kurser</h2>
        <% if (courses.length === 0) {%>
          <p>Du har inga registrerade kurser.</p>
        <% } %>
        <% courses.forEach((course, index) => { -%>
          <section class="course-card">
            <p><b><%- course.coursecode %></b></p>
            <p>Namn: <%- course.coursename %></p>
            <div><p>Kursplan: </p><a href="<%- course.syllabus %>" target="_blank">Klicka här</a></div>
            <p>Progression: <b><%- course.progression.toUpperCase() %></b></p>
            <form action="/delete" method="POST" onsubmit="return confirm('Vill du verkligen radera <%= course.coursecode %>?')">
              <input type="hidden" name="coursecode" value="<%= course.coursecode  %>">
              <button type="submit" class="delete-button">Radera kurs</button>
            </form>
          </section>
        <% }) -%>
      </section>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <ul>
        <li>Ludvig Rosenqvist</li>
        <li>2026</li>
        <li>Laboration 1</li>
        <li>
          <button type="button" class="theme-button" id="theme-button"></button>
        </li>
      </ul>
    </div>
  </footer>

  <script src="/dist/main.js"></script>
</body>
</html>